@use '/src/sass/base/variables.scss'as *;

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
    margin: 0;
    padding: 0;
}

ol[role="list"],
ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    display: block;
    max-inline-size: 100%;
}

body {
    max-width: 1300px;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}

select {
    background: transparent;
    appearance: none;
    cursor: pointer;
    background-image: url("/src/ico/arrow.svg");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 16px;
    padding-right: 40px;
    outline-color: #d0d0d0;
    transition: all 0.3s ease;

    &:focus {
        box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.1);
    }
}

.card-hover-red {
    &:hover {
        background: $hover-card-red;
        border: 1px solid #ff3d3d !important;
    }
}

.card-hover-blue {
    &:hover {
        background: $hover-card-blue;
        border: 1px solid #819deb;
    }
}

.hover-payment {
    cursor: pointer;

    &:hover {
        fill: #c50000;
    }
}

.d-flex {
    display: flex;
}

.container {
    padding: $breakpoints-start;
}

.line {
    width: 24px;
    height: 1.88px;
    background-color: $white;
    border-radius: 2px;
}

.hover-yellow {
    cursor: pointer;
    fill: $white;
    transition: fill 0.3s ease;

    &:hover {
        fill: $yellow;
    }
}

.pt-15 {
    padding-top: 15px;
}

.pt-card-sale {
    padding-top: 31px;
}

@media screen and (min-width: 300px) {
    .d-none {
        &:nth-child(2) {
            display: flex;
        }
    }
}

@media screen and (min-width: 768px) {
    .pt-card-sale {
        padding-top: 64px;
    }
}

@media screen and (min-width: 1300px) {
    .container {
        padding: $breakpoints-end;
    }

    .pt-card-sale {
        padding-top: 32px;
    }
}