//Colors
$white: #fff;
$black: #333;
$black-48: #484848;
$gray: #989898;
$red: #ff3d3d;
$blue: #325ac0;
$blue-2: #265c9a;
$yellow: #FBFF3D;

//Padding-poins

$breakpoints-start: 0 20px;
$breakpoints-end: 0 86px;