@use '/src/sass/base/variables.scss'as *;

.burger-nav {
    position: absolute;
    background: $blue-2;
    padding-bottom: 12px;
    top: -100%;
    left: 0;
    width: 100%;

    &__basket {
        display: none;
    }

    &-active {
        top: 70px;
    }

    ul {
        flex-direction: column;
        gap: 22px;

        li {
            padding: 11px 0 11px 7px;
            height: 40px;
            text-align: left;
            justify-content: center;

            &:hover {
                background: #618cbf;
                border-radius: 1px;
            }

            a {
                font-size: 14px;
                color: $white;
                text-decoration: none;
            }
        }
    }
}

@media screen and (min-width: 1300px) {
    .burger-nav {
        position: inherit;
        background-color: #1f497b;
        height: 46px;

        &__basket {
            display: flex;
            gap: 9px;

            span {
                font-size: 16px;
                color: $white;
                cursor: pointer;
            }

            &:hover {

                span,
                svg {
                    color: $yellow;
                    fill: $yellow;
                    transition: fill 0.3s ease;
                }
            }
        }

        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        ul {
            flex-direction: row;
            gap: 39px;

            li {
                &:hover {
                    background: transparent;
                }

                a {
                    &:hover {
                        color: $yellow;
                    }
                }
            }
        }
    }
}