@use '/src/sass/base/mixins.scss'as *;
@use '/src/sass/base/variables.scss'as *;

.text-bold {
    @include bold;
}

.text-regular {
    @include regular;
}

.tite-h2 {
    @include regular;
    font-size: 20px;
    color: $black;
}

.text-span {
    @include regular;
    font-size: 16px;
    color: $gray;
}